
<div id="instagram" class="picture container">
<% if @desserts_sorted.present? %>
  <% @desserts_sorted.each do |dessert| %>
  
    <% if !(@desserts_tags & dessert.tags).empty? %>
      <% if (@tag_filter & dessert.tags).empty? %>
        <div class="seven columns">
          <img id="food_pic" src="<%=dessert.images.standard_resolution.url%>">
        </div>
          <div class="six columns offset-by-one">
            <div class="info seven columns">
              <h3 id="location"><%= dessert.location.name %> </h3>
              <% if dessert.caption.present? && dessert.caption.has_key?("text") %>
                <p id="caption"><%= dessert.caption["text"] %> </p>
              <% end %>
              <p id="likes">Likes: <%= dessert.likes["count"] %></p>
              <p id="tags">Tags: #<%= dessert.tags.join(" #") %></p>
              <img id="profile_pic" src="<%= dessert.user.profile_picture%>">
              <h4 id="username" class="user"><%= dessert.user.full_name%> (@<%= dessert.user.username %>)</h4>
            </div>
          </div>
        <div class="row"></div>
      <% end %> 
    <% end %>
    
  <% end %>
  <% end %>
</div>
<script>
$('body').addClass('background_image_1');
</script> 

