
<div id="instagram" class="picture container">
<% if @sorted_results.present? %>
  <% @sorted_results.each do |drink| %>
  
    <% if !(@food_tags & drink.tags).empty? && (@filter_tags & drink.tags).empty? %>
      <div class="seven columns">
        <img id="food_pic" src="<%=drink.images.standard_resolution.url%>">
      </div>
        <div class="six columns offset-by-one">
          <div class="info seven columns">
            <h3 id="location"><%= drink.location.name %> </h3>
            <% if drink.caption.present? && drink.caption.has_key?("text") %>
              <p id="caption"><%= drink.caption["text"] %> </p>
            <% end %>
            <p id="likes">Likes: <%= drink.likes["count"] %></p>
            <p id="tags">Tags: #<%= drink.tags.join(" #") %></p>
            <img id="profile_pic" src="<%= drink.user.profile_picture%>">
            <h4 id="username" class="user"><%= drink.user.full_name%> (@<%= drink.user.username %>)</h4>
          </div>
        </div>
      <div class="row"></div>
    <% end %>
    
  <% end %>
<% end %>
<%= render partial: "food_results", locals: {results: @sorted_results, food_tags: @food_tags, filter_tags: @filter_tags } %>
</div>

<script>
$('body').addClass('background_image_2');
</script>