<div class="picture container">
  <% @food_sorted.each do |food| %>
  
    <% if food.tags.include?("food") || food.tags.include?("foodporn") || food.tags.include?("yum") || food.tags.include?("instafood") || food.tags.include?("yummy") || food.tags.include?("foodie") %>
    <div class="six columns">
      <img class="img" src="<%=food.images.standard_resolution.url%>">
      <h4><%= food.location.name %> </h4>
      <h4><%= food.caption.text %> </h4>
      <p>Tags: <%= food.tags.join(" | ") %></p>
      <p>Likes: <%= food.likes["count"] %></p>
    </div>
    <div class="row"></div>
    <% end %>
  
  <% end %>
</div>
